title: Räkmaskinen
description: >-
  Räkmaskinen kan alla siffror!
baseurl: ""
url: "https://shrimpmachine.rhahi.com"

sass:
  sass_dir: _sass

# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
